registry=https://registry.npmjs.org/
@vetrivelan-cp:registry=https://registry.npmjs.org/
always-auth=false
//registry.npmjs.org/:_authToken=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
@vetrivelan-cp:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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